body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(42, 73, 101);
  color: white;
}

* {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  
  scrollbar-width: none;

}
